In [99]:
import pandas as pd

In [146]:
df = pd.read_csv("ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,NaN,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,2019-10-28,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0

In [4]:
df.loc[1, "ocorrencia_cidade"]

'BELÉM'

In [5]:
df.loc[1:3]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,2019-10-28,0

In [6]:
df.loc[[10,40]]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,NaN,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,NaN,0

In [9]:
df.loc[:,"ocorrencia_cidade"]

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [7]:
df.codigo_ocorrencia1.is_unique

True

In [10]:
#df.set_index("codigo_ocorrencia1")
df.set_index("codigo_ocorrencia1", inplace=True)

In [11]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
codigo_ocorrencia1,,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,NaN,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,2019-10-28,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0

In [12]:
df.loc[40324]

codigo_ocorrencia2                         40324
ocorrencia_classificacao               INCIDENTE
ocorrencia_cidade                        PELOTAS
ocorrencia_uf                                 RS
ocorrencia_aerodromo                        SBPK
ocorrencia_dia               2010-01-05 00:00:00
ocorrencia_hora                         19:25:00
divulgacao_dia_publicacao                    NaN
total_recomendacoes                            0
Name: 40324, dtype: object

In [16]:
df.reset_index(drop=True, inplace=True)

In [17]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,NaN,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,2019-10-28,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0

In [18]:
df.loc[0, 'ocorrencia_aerodromo'] = ''

In [19]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,NaN,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,2019-10-28,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0

In [20]:
df.loc[0] = 20

In [21]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,20,20,20,20,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,NaN,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,NaN,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,2019-10-28,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,NaN,0

In [22]:
df.loc[:,'total_recomendacoes'] = 10

In [23]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,20,20,20,20,20,20,20,20,10
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,NaN,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,NaN,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,2019-10-28,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,NaN,10

In [24]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,20,20,20,20,20,20,20,20,10
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,NaN,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,NaN,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,2019-10-28,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,NaN,10
...,...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,NaN,10
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,NaN,10
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,NaN,10
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,NaN,10
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,NaN,10

In [25]:
df['ocorrencia_uf'] = df.ocorrencia_uf

In [26]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,20,20,20,20,20,20,20,20,10
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,NaN,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,NaN,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,2019-10-28,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,NaN,10
...,...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,NaN,10
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,NaN,10
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,NaN,10
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,NaN,10
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,NaN,10

In [27]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [28]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,20,20,20,20,20,20,20,20,10
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,NaN,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,NaN,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,2019-10-28,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,NaN,10
...,...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,NaN,10
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,NaN,10
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,NaN,10
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,NaN,10
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,NaN,10

In [31]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
11,40069,GRAVE,SÃO PAULO,SP,SBMT,2010-01-10 00:00:00,14:50:00,2012-11-19,10
16,39809,GRAVE,SÃO PAULO,SP,****,2010-01-15 00:00:00,15:00:00,NaN,10
18,39828,GRAVE,SANTOS,SP,****,2010-01-15 00:00:00,17:45:00,NaN,10
26,39847,GRAVE,SOROCABA,SP,****,2010-01-20 00:00:00,13:10:00,NaN,10
27,39768,GRAVE,CAMPINAS,SP,****,2010-01-21 00:00:00,20:45:00,NaN,10
...,...,...,...,...,...,...,...,...,...
5704,79739,GRAVE,SÃO PAULO,SP,SBSP,2020-12-03 00:00:00,14:42:00,NaN,10
5705,79705,GRAVE,SOROCABA,SP,SDCO,2020-12-04 00:00:00,15:30:00,NaN,10
5715,79718,GRAVE,SÃO PAULO,SP,SBMT,2020-12-11 00:00:00,13:50:00,NaN,10
5742,79800,GRAVE,SÃO PAULO,SP,SBMT,2020-12-28 00:00:00,10:15:00,NaN,10
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,NaN,10

In [36]:
df

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,NaN,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,2019-10-28,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0
...,...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,NaN,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,NaN,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,NaN,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,NaN,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,NaN,0

ocorrencia_uf
**

ocorrencia_aerodromo
###!
####
****
*****

ocorrencia_hora
NULL

In [37]:
df.head()

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,NaN,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,2019-10-28,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0

In [147]:
df.loc[df.ocorrencia_aerodromo == "****", ['ocorrencia_aerodromo']] = pd.NA

In [41]:
df

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,NaN,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,2019-10-28,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0
...,...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,NaN,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,NaN,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,NaN,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,NaN,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,NaN,0

In [101]:
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

In [79]:
df.head(20)

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,NaN,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,2019-10-28,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,NaN,0
5,39807,39807,INCIDENTE,SALVADOR,BA,<NA>,2010-01-06,17:53:00,NaN,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,NaN,0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,2011-07-21,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2011-06-30,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,<NA>,2010-01-10,20:00:00,NaN,0
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,<NA>,2010-01-10,21:30:00,NaN,0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,2012-11-19,8
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,NaN,0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,<NA>,2010-01-11,17:00:00,2011-06-30,2
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,2016-03-18,0
15,39315,39315,ACIDENTE,CANUTAMA,AM,<NA>,2010-01-15,21:22:00,2017-02-08,0
16,39809,39809,INCIDENTE,SÃO PAULO,SP,<NA>,2010-01-15,15:00:00,NaN,0
17,39810,39810,INCIDENTE,SALVADOR,BA,<NA>,2010-01-15,18:23:00,NaN,0
18,39828,39828,INCIDENTE,SANTOS,SP,<NA>,2010-01-15,17:45:00,NaN,0
19,44575,44575,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-17,12:27:00,NaN,0

In [148]:
#df.isna().sum()
df.isna().sum()

codigo_ocorrencia1              0
codigo_ocorrencia2              0
ocorrencia_classificacao        0
ocorrencia_cidade               0
ocorrencia_uf                   0
ocorrencia_aerodromo         2181
ocorrencia_dia                  0
ocorrencia_hora                 1
divulgacao_dia_publicacao    4259
total_recomendacoes             0
dtype: int64

In [103]:
#df.isnull()
df.isnull().sum()

codigo_ocorrencia1              0
codigo_ocorrencia2              0
ocorrencia_classificacao        0
ocorrencia_cidade               0
ocorrencia_uf                   1
ocorrencia_aerodromo         2349
ocorrencia_dia                  0
ocorrencia_hora                 1
divulgacao_dia_publicacao    4258
total_recomendacoes             0
dtype: int64

In [104]:
#df.fillna(10)
df.fillna(10, inplace=True)

In [105]:
df.isnull().sum()

codigo_ocorrencia1           0
codigo_ocorrencia2           0
ocorrencia_classificacao     0
ocorrencia_cidade            0
ocorrencia_uf                0
ocorrencia_aerodromo         0
ocorrencia_dia               0
ocorrencia_hora              0
divulgacao_dia_publicacao    0
total_recomendacoes          0
dtype: int64

In [106]:
df.replace([10], pd.NA, inplace=True)

In [107]:
df.isnull().sum()

codigo_ocorrencia1              0
codigo_ocorrencia2              0
ocorrencia_classificacao        0
ocorrencia_cidade               0
ocorrencia_uf                   1
ocorrencia_aerodromo         2349
ocorrencia_dia                  0
ocorrencia_hora                 1
divulgacao_dia_publicacao    4258
total_recomendacoes             2
dtype: int64

In [108]:
df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [109]:
df.isnull().sum()

codigo_ocorrencia1              0
codigo_ocorrencia2              0
ocorrencia_classificacao        0
ocorrencia_cidade               0
ocorrencia_uf                   1
ocorrencia_aerodromo         2349
ocorrencia_dia                  0
ocorrencia_hora                 1
divulgacao_dia_publicacao    4258
total_recomendacoes             0
dtype: int64

In [120]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [122]:
df.head()

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes,total_recomendacoes_bkp
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,<NA>,0,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,<NA>,0,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,<NA>,0,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,2019-10-28,0,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,<NA>,0,0

In [123]:
df.drop(['total_recomendacoes_bkp'], axis=1, inplace=True)

In [124]:
df.head()

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,divulgacao_dia_publicacao,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,<NA>,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,<NA>,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,<NA>,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,2019-10-28,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,<NA>,0

In [149]:
df.drop(['divulgacao_dia_publicacao'], axis=1, inplace=True)

In [150]:
df

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0
5752,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [128]:
df.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [151]:
df

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0
5752,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [152]:
df.drop_duplicates(inplace=True)

In [153]:
df

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0